
body {
    background-image: url("../media/images/darkforestparallax.jpeg");
    background-attachment: fixed;
    
}

/* media query for mobile */

.card img {
    filter: grayscale(100%);
    transition: all 750ms ease-in-out .5s;
}

.card img:hover {
    filter: grayscale(70%);
}