
body {
    background-image: url("../media/images/darkforestparallax.jpeg");
    background-attachment: fixed;
    
}

/* media query for mobile */

.card img {
    filter: grayscale(100%);
    transition: all 750ms ease-in-out .5s;
}

.card img:hover {
    filter: grayscale(70%);
}

.card-NA {
    filter: invert(100%) blur(3px);
    transition: all 750ms ease-in-out 1s;
}

.card-NA:hover {
    filter:invert(0) blur(0);
}